<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="project management in high technology business">
    <meta name="keywords" content="management, business, it">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png">
        {{ encore_entry_link_tags('styles/app') }}
    {% endblock %}
</head>

<body>
{% block body %}
    <div class="wrap">
        {% block header %}
            {{ include('elements/header.html.twig') }}
        {% endblock header %}

        {% block content %}

        {% endblock content %}
    </div>

    {# {% block footer %} #}
    {# {{ include('elements/footer.html.twig') }} #}
    {# {% endblock footer %} #}

{% endblock body %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
{% endblock %}
</body>
</html>
