{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <div class="container">
        <h1>User index</h1>

        {% dump %}
        <div class="row flex-wrap">
            {% for user in users %}
                <a class="card col-md-3 mb-2" href="{{ path('user_show', {'id': user.id}) }}">
                    <div class="card-body ">

                        <div class="d-flex flex-column align-items-center text-center">
                            {% if user.personalData.gender == 'male' %}
                                <img src="{{ asset('build/images/male.png') }}" alt="Admin"
                                     class="rounded-circle"
                                     width="150">
                            {% else %}
                                <img src="{{ asset('build/images/female.png') }}" alt="Admin"
                                     class="rounded-circle"
                                     width="150">
                            {% endif %}
                            <div class="mt-3">
                                <h4>{{ user.personalData.surname }}</h4>
                                <p class="text-secondary mb-1">Full Stack Developer</p>
                                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                {# <button class="btn btn-primary">Follow</button> #}
                                {# <button class="btn btn-outline-primary">Message</button> #}
                            </div>
                        </div>
                    </div>
                    {# </div> #}
                </a>
            {% endfor %}
        </div>


        {# <td>{{ user.id }}</td> #}
        {# <td>{{ user.email }}</td> #}
        {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
        {# <td>{{ user.password }}</td> #}
        {# <td> #}
        {# <a href="{{ path('user_show', {'id': user.id}) }}">show</a> #}
        {# <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a> #}


        <a href="{{ path('user_new') }}">Create new</a>

    </div>
{% endblock %}
