{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}
    <div class="show-inner">
        <div class="container pb-4">
            <div class="main-body">

                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb" class="main-breadcrumb">
                    <ol class="show-breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Team</a></li>
                        <li class="breadcrumb-item active"
                            aria-current="page">{{ user.personalData.surname ?? 'empty' }}</li>
                    </ol>
                </nav>
                <!-- /Breadcrumb -->

                <div class="row gutters-sm">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    {% if user.personalData %}
                                        {% if user.personalData.gender == 'male' %}
                                            <img src="{{ asset('build/images/male.png') }}" alt="male"
                                                 class="rounded-circle"
                                                 width="150">
                                        {% elseif user.personalData.gender == null %}
                                            <img src="{{ asset('build/images/anonym.png') }}" alt="anonym"
                                                 class="rounded-circle"
                                                 width="150">
                                        {% else %}
                                            <img src="{{ asset('build/images/female.png') }}" alt="famale"
                                                 class="rounded-circle"
                                                 width="150">
                                        {% endif %}
                                    {% endif %}

                                    <div class="mt-3">
                                        <h4>{{ user.personalData.surname ?? 'empty' }}</h4>
                                        <p class="text-secondary mb-2">{{ user.managerData ? user.managerData.userRole : 'Role: empty' }}</p>
                                        {% if app.user == user %}
                                            <a class="btn btn-success"
                                               href="{{ path('user_summary', {'id': user.id}) }}">Summary</a>
                                        {% endif %}
                                        {% if is_granted('ROLE_MANAGER') %}
                                            <a class="btn btn-success" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-3">
                            <p class="user-about text-secondary">{{ user.personalData.about ?? 'empty' }}</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary mb-0">
                                        {{ user.personalData ? user.personalData.name : 'empty' }} {{ user.personalData ? user.personalData.surname|title }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Gender</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.personalData ? user.personalData.gender|capitalize : 'empty' }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Date of Birth</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.personalData ? user.personalData.dateOfBirth|date('d-m-Y') : 'empty' }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Marital status</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.personalData ? user.personalData.maritalStatus|capitalize : 'empty' }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">{{ user.email }}</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Mobile</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">{{ user.personalData ? user.personalData.phone : 'empty' }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters-sm">
                            <div class="col-sm-12 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="d-flex align-items-center mb-4">Education
                                        </h6>
                                        {% for education in user.education %}
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <b>{{ education.title|capitalize }}</b>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <small class="mb-0">Disciplines</small>
                                                </div>
                                                <div class="col-sm-9 text-secondary">{{ education.disciplines }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <small class="mb-0">Date start</small>
                                                </div>
                                                <div class="col-sm-9 text-secondary">{{ education.dateStart|date('d-m-Y') }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <small class="mb-0">Result</small>
                                                </div>
                                                <div class="col-sm-9 text-secondary">{{ education.result }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <small class="mb-0">Date end</small>
                                                </div>
                                                <div class="col-sm-9 text-secondary">{{ education.dateEnd|date('d-m-Y') }}</div>
                                            </div>
                                            {% if  not loop.last %}
                                                <hr>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="d-flex align-items-center mb-4">Languages
                                    </h6>
                                    {% for language in user.spokenLanguage %}
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p>{{ language.language }}</p>
                                            </div>
                                            <div class="col-sm-9 text-secondary">{{ language.level }}</div>
                                        </div>
                                        {% if  not loop.last %}
                                            <hr>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row gutters-sm">
                            <div class="col-sm-12 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="d-flex align-items-center mb-4">Career Summaries
                                        </h6>
                                        {% for career in user.careerSummaries %}
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <b>{{ career.position|capitalize }}</b>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <small class="mb-0">Date start</small>
                                                </div>
                                                <div class="col-sm-9 text-secondary">{{ career.dateStart|date('d-m-Y') }}</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <small class="mb-0">Date end</small>
                                                </div>
                                                <div class="col-sm-9 text-secondary">{{ career.dateEnd|date('d-m-Y') }}</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <small class="mb-0">Description</small>
                                                </div>
                                                <div class="col-sm-9 text-secondary">{{ career.jobDescription }}</div>
                                            </div>
                                            {% if  not loop.last %}
                                                <hr>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="d-flex align-items-center mb-4">Technical Experiences</h6>
                                        {% for exp in user.technicalExperiences %}
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p>{{ exp.skills|title }}</p>
                                                </div>
                                                <div class="col-sm-9 text-secondary">{{ exp.level }}</div>
                                            </div>
                                            {% if  not loop.last %}
                                                <hr>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            {% if is_granted('ROLE_MANAGER') %}
                                <div class="col-sm-12 mb-3">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h6 class="d-flex align-items-center mb-4">Manager Data</h6>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p>Salary</p>
                                                </div>
                                                <div class="col-sm-9 text-secondary">{{ user.managerData ? user.managerData.userSalary : '<p>there is no data</p>' }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                {% if is_granted('ROLE_MANAGER') %}
                    {{ include('user/_delete_form.html.twig') }}
                {% endif %}
                <a class="btn btn-success mx-2" href="{{ path('user_index') }}">back</a>
            </div>
        </div>
    </div>
{% endblock %}
