{% extends 'base.html.twig' %}

{% block title %}Education{% endblock %}

{% block body %}
    <h1>Education</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ education.id }}</td>
            </tr>
            <tr>
                <th>DateStart</th>
                <td>{{ education.dateStart ? education.dateStart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateEnd</th>
                <td>{{ education.dateEnd ? education.dateEnd|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ education.title }}</td>
            </tr>
            <tr>
                <th>Desciplines</th>
                <td>{{ education.desciplines }}</td>
            </tr>
            <tr>
                <th>Result</th>
                <td>{{ education.result }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('education_index') }}">back to list</a>

    <a href="{{ path('education_edit', {'id': education.id}) }}">edit</a>

    {{ include('education/_delete_form.html.twig') }}
{% endblock %}
